*{
    padding: 0;
    margin:0;
    font-family: "Roboto", sans-serif;
}

.navbar{ background-color: black

}
.navbar-brand{ 
  
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
           
}

.brand-name{
    color: aliceblue;
}
.logo{
    width: 20px;
}

.navbar-collapse{
    padding-right: 40px;
    justify-content: end;
}

.links{
    color: aliceblue;
  font-weight: 300;
  font-style:light;
}

.fa-plane{
    
    color: aliceblue;
    width: 100%;
    height: 40px;
    padding: 12px;
    background-color: aqua;
    
}
.fa-mountain{
    color: aliceblue;
    width: 100%;
    height: 40px;
    padding: 12px;
    background-color: aqua;
}
.fa-route{
    color: aliceblue;
    width: 100%;
    height: 40px;
    padding: 12px;
    background-color: aqua;
}

#larger-img{
    height: 202px;
}

.card-size{
    width: 100%;
}